.card {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
}

.card:hover,
.card:focus {
  translate: 0 -5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}


